bin/
build/
deploy/

*.log

.gocache/
.tmp/
.session/
.cache/

.env
config.json
config.yaml
config.yml
.security.json
.security.yaml
.security.yml

.DS_Store

.vscode/
.idea/

.git/
.gitignore
.gitattributes

node_modules/
dist/
dist-ssr/
*.local

*.md
Makefile
LICENSE
sqlc.yaml
